.env
pytest.ini
dbsqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
.DS_Store
*.egg-info/
dist/
build/
logs/*
htmlcov/*
events/__pycache__/
events/migrations/
dialer/__pycache__/
dialer/migrations/
.pytest_cache/
orchestrator_env/
venv/
.coverage
